@charset "UTF-8";

@import '../../styles/extra/variables.scss';

.Favorite {
   width: 100%;
   max-width: 1000px;
   min-height: 100vh;
   margin: auto;

   // Success
   section:not(.Message) {
      margin-top: 30px;
      padding: 30px 30px 80px 30px;
      border-radius: 10px;
      background-color: white;
   }

   h1 {
      font-size: 2.2rem;
      font-weight: 600;
   }

   .posts {
      margin: 30px auto 0 auto;
      width: 100%;
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
   }
}
