@charset "UTF-8";

@import '../../../styles/extra/variables.scss';

.Header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

   button {
      $color-button: $color-05;

      padding: 10px 20px 10px 18px;
      background-color: darken($color-button, 5);

      &:hover {
         background-color: darken($color-button, 20);
      }
   }

   .header-profile-image {
      $size-image: 50px;

      width: $size-image;
      height: $size-image;
      cursor: pointer;
      transition: all 0.6s;
   }

   div:not(.ignore-element) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }

   // icon menu/bar
   .icon-menu {
      font-size: 1.5rem;
      cursor: pointer;
      transition: all $transition;

      &:hover {
         color: $color-01;
      }
   }
}
