@charset "UTF-8";

@import '../../../styles/extra/variables.scss';

.Header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .header-profile-image {
      width: 50px;
      border-radius: 50%;
      cursor: pointer;
      transition: all .6s;
   }

   div:not(.ignore-element) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }
}