@charset "UTF-8";

@import './variables.scss';

.btn {
   min-width: 80px;
   font-size: 0.9rem;
   padding: 10px 20px;
   border: none;
   background-color: gray;
   border-radius: 5px;
   color: white;
   font-family: $font-default, sans-serif;
   font-weight: 500;
   cursor: pointer;
   transition: $transition;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;

   .btn-icon {
      font-size: 1.3rem;
   }
}