@charset "UTF-8";

@import './variables.scss';

.input {
   width: 100%;
   padding: 8px;
   background-color: white;
   border-radius: 5px;
   border: 1px solid #ccc;
   font-family: $font-default, sans-serif;
   color: black;
   transition: all $transition cubic-bezier(0.520, 0.005, 0.485, 1.000);

   &:focus {
      outline: none;
      border: 1px solid $color-01;
   }
}