@charset "UTF-8";

$color-01: #F72585;
$color-02: #7209B7;
$color-03: #3A0CA3;
$color-04: #4361EE;
$color-05: #4CC9F0;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-default: 'Poppins', Arial, sans-serif;

// Others
$header-height: 120px;
$transition: .6s;

$sidebar-width: 60px;