@charset "UTF-8";

@import '../../styles/extra/variables.scss';

.Profile {
   width: 100%;
   min-height: 85vh;

   .container {
      width: 100%;
      max-width: $max-width-section;
      margin: 50px auto 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;

      > div {
         width: 100%;
         background-color: white;
         border-radius: 20px;
         padding: 30px;

         &.profile-content {
            width: 100%;
            min-width: 250px;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
               $size-image: 150px;

               width: 100%;
               max-width: $size-image;
               height: $size-image;
            }

            .profile-username-container {
               margin-top: 10px;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               text-align: center;

               p {
                  font-size: 1.1rem;
               }
            }

            button {
               $color-button: $color-01;

               margin-top: 10px;
               background-color: $color-button;
               font-weight: 600;
               padding: 8px 5px 8px 2px;

               &:hover {
                  background-color: darken($color-button, 10);
               }

               .btn-icon {
                  font-size: 1rem;
               }
            }
         }

         &.profile-posts {
            max-width: 100%;

            h2 {
               font-size: 1.8rem;
               font-weight: 600;
            }

            .posts {
               margin: 30px auto 0 auto;
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-wrap: wrap;
               gap: 30px;
            }
         }
      }
   }

   section.Message {
      width: 100%;
      max-width: $max-width-section;
      margin: 50px auto 0 auto;
   }
}
