@charset "UTF-8";

@import '../../styles/extra/variables.scss';

.CreatePost {
   width: 100%;
   min-height: 80vh;
   display: flex;
   flex-direction: column;

   .container {
      width: 100%;
      max-width: 350px;
      margin: 30px auto 0 auto;
      background-color: white;
      border-radius: 5px;
      padding: 25px;

      form {
         label {
            display: block;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
               font-weight: 600;
            }
         }

         button {
            margin: 20px auto 0 auto;
            display: block;
            background-color: $color-02;

            &:hover {
               background-color: darken($color-02, 10);
            }
         }
      }
   }
}
