@charset "UTF-8";

@import '../../../styles/extra/variables.scss';

.ButtonToTop {
   $size-button: 50px;

   min-width: initial;
   position: fixed;
   bottom: 50px;
   right: 50px;
   z-index: 15;
   width: $size-button;
   height: $size-button;
   padding: 10px 5px;
   border-radius: 50%;
   background-color: $color-04;

   .btn-icon {
      font-size: 1.5rem;
   }
}